.profile-drop {
  background-color: white;
  padding: 1rem;
  width: 15rem;
  height: 15rem;
  margin-left: auto;
  margin-top: 2rem;
}

ul {
  list-style: none;
}

li {
  margin: 2rem 0 1rem 2rem;
}

.icon-and-text {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 590px) {
  .profile-drop {
    display: none;
  }
}
